<div class="container">
  <div class="row mt-5">
 <tabset #staticTabs>
    <tab heading="Personal Information">
      <div class="pt-5">
          <form [formGroup]="personalInformationForm" (ngSubmit)="onPersonalInfoSubmit()">
            <div class="form-group">
              <label>Name</label>
              <input placeholder="Enter Name" type="text" formControlName="name" class="form-control">
            </div>
            <div class="form-group">
              <label>Eamil</label>
              <input placeholder="Enter email" type="text" formControlName="email" class="form-control">
            </div>
           <input type="submit" value="Next" class="btn btn-success" [disabled]="!personalInformationForm.valid">
        </form>   
      </div>
    
      </tab>
    <tab heading="Education Information"  [disabled]="true">
        <div class="pt-5">
          <form [formGroup]="educationalInformationForm" (ngSubmit)="onEducationalInfoSubmit()">
              <div class="form-group">
              <label>Board</label>
              <input placeholder="enter board name" type="text" formControlName="board" class="form-control">
            </div>
            <div class="form-group">
              <label>Add Education</label>
              <textarea placeholder="Enter Education"  formControlName="education" class="form-control"></textarea>
            </div>
           <input type="submit" value="Next" class="btn btn-success" [disabled]="!educationalInformationForm.valid">
        </form>   
      </div>
      </tab>
    <tab heading="Complete" [disabled]="true">
         <div class="pt-5 text-center">
           <input type="button" class="btn btn-success" value="Submit & Continue" (click)="onFinalSubmit()">
       
      </div>
      </tab>
  </tabset>
  </div>
 
</div>